NEXT_PUBLIC_SUPABASE_URL=https://bgtxweglgjrvezgbzkol.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJndHh3ZWdsZ2pydmV6Z2J6a29sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjgzNzA0MjgsImV4cCI6MjA4Mzk0NjQyOH0.mAYPqZmTM2p3nOilmtZrQAMU9qUwZmbZTBL8Jpj5exg